doctype html
html(lang="ko")
	head
		title #{pageTitle} | #{siteName}
		link(rel="stylesheet" href="https://unpkg.com/mvp.css")
	body
		header
			nav
				ul
					li 
						a(href="/") Home
					li
						a(href="/search") Search
					if loggedIn
						li
							a(href="/users/edit") Edit Profile
						li
							a(href="/logout") Log out
						li
							a(href=`/users/${loggedInUser._id}`) My Profile
						li
							a(href="/videos/upload") Upload
					else
						li
							a(href="/login") Login
						li
							a(href="/join") Join
			h1=pageTitle
		main
			if errorMessage
				span(style="color:red")=errorMessage
			block content
	include partials/footer