doctype html
html(lang="ko")
	head
		title #{pageTitle} | #{siteName}
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
		link(rel="stylesheet" href="/static/css/styles.css")
	body
		include partials/header
		main
			if errorMessage
				div.message.error
					i.fas.fa-triangle-exclamation.message__icon
					| #{errorMessage}
			if messages.error
				div.message.error.fade
					i.fas.fa-triangle-exclamation.message__icon
					| #{messages.error}
			if messages.info
				div.message.info.fade
					i.fas.fa-circle-info.message__icon
					| #{messages.info}
			if messages.success
				div.message.success.fade
					i.fas.fa-circle-check.message__icon
					| #{messages.success}
			block content
		include partials/footer
	script(src="/static/js/main.js")
	block scripts
	
//-https://evan-moon.github.io/2020/05/21/about-cors/