extends base.pug

block content
	div#videoContainer(data-id=video._id)
		video(src="/"+video.fileUrl)
		div#videoControls
			button#play
				i.fas.fa-play
			div.timelineZone
				span#currentTime 00:00
				span  / 
				span#totalTime 00:00
			input(type="range", step="1", value="0", min="0")#timeline.video-controls
			button#mute
				i.fas.fa-volume-up
			input(type="range", step="0.1", value="0.5", min="0", max="1")#volume.video-controls
			button#fullScreen 
				i.fas.fa-expand

	div.video__meta
		div.video__title=video.title
			if String(video.owner._id) === String(loggedInUser._id)
				button(onclick=`location.href='${video.id}/edit'`)
					i.fas.fa-pen-to-square
				button(onclick=`if(confirm("정말로 삭제하시겠습니까?")){location.href='${video.id}/delete'}`)
					i.fas.fa-trash-can
		div.video__info
			span=video.createdAt
			|  • 
			span #{video.meta.views} #{video.views === 1 ? "view" : "views" }	
		div.video__avatar-container
			a(href=`/users/${video.owner._id}`).video__avatar
				if video.owner.avatarUrl
					img(src=`${video.owner.socialOnly?"":"/"}`+video.owner.avatarUrl).video__avatar
				else
					i.fas.fa-circle-user.video__avatar-none
			div.video__owner
				a(href=`/users/${video.owner._id}`) #{video.owner.name}
		div.video__details
			div.video__description #{video.description}
			each tag in video.hashtags
				small.video__tag #{tag} 
				
	if loggedIn
		div.video__add-comments
			form.video__comment-form#commentForm
				textarea(style="width:100%", placeholder="Comment...")
				button Add Comment
	
	div.video__comments
		ul
			each comment in video.comments.reverse()
				li.video__comment(data-id=comment._id)
					div.video__comment-content
						i.fas.fa-comment
						span  #{comment.text}
					div.video__comment-x
						i.fas.fa-xmark

block scripts
	script(src="/static/js/videoPlayer.js")
	script(src="/static/js/commentSection.js")